<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wb.citylife"
    android:versionCode="5"
    android:versionName="0.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 手机震动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 检查网络的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读取手机信息的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 联网的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 桌面图标权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name="com.wb.citylife.app.CityLifeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CLTheme.Light" 
        android:largeHeap="true">

        <!-- logo页 -->
        <activity
            android:name="com.wb.citylife.mk.main.LogoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/CLTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name="com.wb.citylife.mk.main.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CLTheme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 栏目排序 -->
        <activity
            android:name="com.wb.citylife.mk.channel.OrderChannelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_order_channel"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        
        <!-- 添加栏目  -->
        <activity
            android:name="com.wb.citylife.mk.channel.AddChannelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_add_channel"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 资讯列表 -->
        <activity
            android:name="com.wb.citylife.mk.news.NewsListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_news"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 资讯详情 -->
        <activity
            android:name="com.wb.citylife.mk.news.NewsDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 评论 -->
        <activity
            android:name="com.wb.citylife.mk.comment.CommentListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 投票列表 -->
        <activity
            android:name="com.wb.citylife.mk.vote.VoteListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_vote"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 投票详情 -->
        <activity
            android:name="com.wb.citylife.mk.vote.VoteDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 二手信息列表 -->
        <activity
            android:name="com.wb.citylife.mk.old.OldInfoListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_oldinfo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 发布二手信息 -->
        <activity
            android:name="com.wb.citylife.mk.old.PublishOldInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ac_name_publish_oldinfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 二手信息详情 -->
        <activity
            android:name="com.wb.citylife.mk.old.OldInfoDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 随手拍列表 -->
        <activity
            android:name="com.wb.citylife.mk.shoot.ShootListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_shoot"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 随手拍详情 -->
        <activity
            android:name="com.wb.citylife.mk.shoot.ShootDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 发布随手拍信息 -->
        <activity
            android:name="com.wb.citylife.mk.shoot.ShootPublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ac_name_publish_shoot"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 房地产列表 -->
        <activity
            android:name="com.wb.citylife.mk.estate.EstateListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_estate"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 房地产详情 -->
        <activity
            android:name="com.wb.citylife.mk.estate.EstateDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 图片浏览 -->
        <activity
            android:name="com.wb.citylife.mk.img.ImageBrowseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_image_browse"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 账号管理 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.AccountManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ac_name_account_manager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 修改昵称 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.ModifyNickNameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ac_name_modify_nickname"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 修改密码 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.ModifyPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/ac_name_modify_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 登录 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 注册 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_register"
            android:screenOrientation="portrait" />

        <!-- 视频 -->
        <activity
            android:name="com.wb.citylife.mk.video.VideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_register"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 我的收藏 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.CollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_my_collect"
            android:screenOrientation="portrait" />

        <!-- 我的消息 -->
        <activity
            android:name="com.wb.citylife.mk.mycenter.MsgHistroyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_my_msg"
            android:screenOrientation="portrait" />
        
        <!-- 搜索  -->
        <activity
            android:name="com.wb.citylife.mk.main.SearchActivity"
            android:theme="@style/CLTheme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ac_name_my_msg"
            android:screenOrientation="portrait" />

        <!-- ###################注册友盟SDK使用的Activity###################### -->
        <activity
            android:name="com.umeng.socialize.view.CommentActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/Theme.UMDefault" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.CommentDetail"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.CommentDetailNoMap"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 友盟用户反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@style/CLTheme.NoTitleBar" />
        
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@style/CLTheme.NoTitleBar" />

        <!-- 友盟自动更新 -->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 友盟下载服务 -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5356596356240b2f9301fcbd" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yongan" />

        <!-- ###################百度云推送相关设置###################### -->
        <receiver android:name="com.wb.citylife.mk.push.CityLifePushReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="PhiX4q3PTrVfjGdttpcgbAGH" />
    </application>

</manifest>